.env
.env.*
!.env.sample
!.env.*.sample

node_modules/
target/
coverage/
lcov.info

.DS_Store
*.log

microservices/**/target/
microservices/**/node_modules/
microservices/**/coverage/
microservices/**/lcov.info
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
